version: '3'

volumes:
    artigos:
    html:

networks:
    gitpost:

services:
    front:
        image: nginx:1.16
        container_name: nginx
        volumes:
            - html:/usr/share/nginx/html/
            - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
        ports:
            - "80:80"
        depends_on:
            - pelican
    git:
        build: ./git
        container_name: git
        volumes:
            - artigos:/home/git/repo/
        networks:
            - gitpost
        ports:
            - "2222:22"
        depends_on:
            - pelican
    pelican:
        build: ./pelican
        container_name: pelican
        volumes:
            - artigos:/srv/pelican/content/
            - html:/srv/pelican/output/
        networks:
            - gitpost
